.editComment {
  padding-bottom: 1em;

  .author {
    font-weight: 700;
  }

  .editable {
    textarea {
      margin: .3em 0;
    }
  }

  .controls {

    button, span {
      margin-right: 1em;
      font-size: .9em;
    }

    button {
      padding: .5em .7em;
    }

    span {
      border-bottom: 1px dotted #333;
    }

  }

}
