body {
  font: 20px/1.4 Tahoma, Helvetica, Arial, sans-serif;
}

input, textarea {
  width: 100%;
  padding: .5em;
  border: 0;
  border-bottom: 1px solid #eee;
}

$fontColor: #fff;
$bgColor: #29d;
button {
  background-color: $bgColor;
  border: none;
  border-radius: 0;
  color: $fontColor;
  text-shadow: 0 0 1px rgba(0, 0, 0, .5);
  text-decoration: none;
  line-height: normal;
  &:focus {
    box-shadow: none;
  }
  &:active {
    transform: translate(0, 1px);
  }
  &:disabled {
    background-color: rgba($bgColor, .45) !important;
    border: 0 !important;
    color: rgba($fontColor, .5) !important;
    text-shadow: none !important;
  }
}
